@import"common.css";
@font-face {
    font-family: 'Futura';
    src: local('Futura Bold'), local('Futura-Bold'),
        url('FuturaLT-Bold.woff2') format('woff2'),
        url('FuturaLT-Bold.woff') format('woff'),
        url('FuturaLT-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Futura', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #313131;
}
.bodysito::-webkit-scrollbar{
    width: 10px;
    background-attachment: #e4e6ec;    
}
.bodysito::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.811);
    border-radius: 10px;
    border-right: 2px;
}

section {
    background-image: url("/img/background/FONDO.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden{
    overflow: hidden;
}
.centrado{
    height: 100vh;
    background: linear-gradient(#002B54, rgb(211, 211, 211));

    display: flex;
    justify-content: center;
    align-items: center;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #ffffff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

       /* gotop */
       .go-top-container {
        position: fixed;
        bottom: 0rem;
        right: 5rem;
        width: 66px; /* Cambio de rem a px */
        height: 66px; /* Cambio de rem a px */
        z-index: -1;
    }
    .go-top-button {
        width: 0;
        height: 0;
        background-image: url('/img/background/pag-prin.png');
        background-size: cover; /* Ajustar la imagen para cubrir todo el fondo del botón */
        background-repeat: no-repeat; /* Evitar que se repita la imagen */
        background-position: center;
        cursor: pointer;
        transition: 0.2s;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    /* Clase para mostrar el botón */
    .go-top-button i {
        position: absolute;
        font-size: 1.7rem;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: #fff;
        transition: 0.2s;
    }
    .go-top-container.show {
        z-index: 10;
    }
    .go-top-container.show .go-top-button {
        animation: popup 0.3s ease-in-out;
        width: 240px; /* Cambio de rem a px */
        height: 72px; /* Cambio de rem a px */
        z-index: 11;
    }
    .go-top-container.show i {
        transform: translate(-50%, -50%) scale(1);
    }
    @keyframes popup {
        0% {
            width: 0;
            height: 0;
        }
        50% {
            width: 350px; /* Cambio de rem a px */
            height: 350px; /* Cambio de rem a px */
        }
        100% {
            width: 240px; /* Cambio de rem a px */
            height: 159px; /* Cambio de rem a px */
        }
    } 



  
  .corner-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    height: 25%;
    width: auto;
  }
  
.sec-tel{
  width: 100% ;
  height:100vh;
}
.sec-nos{
  width: 100% ;
  height:100vh;
}
